{% extends 'layout.html' %} {% block title %}New Booking{% endblock %} {% block content %}
<h2>New Booking Page</h2>
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <form action="{{url_for('search')}}" method="POST">
                    <div class="form-group">
                        <label>Car Type</label>
                        <select name="carType" class="form-control">
                            <option value="0">Select Car Type</option>
                            <option value="1">Sedan</option>
                            <option value="2">Hatch</option>
                            <option value="3">SUV</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="text" class="form-control" name="startDate" placeholder="DD-MM-YYYY">
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <input type="text" class="form-control" name="endDate" placeholder="DD-MM-YYYY">
                    </div>
                    <div class="form-group">
                        <label>Time</label>
                        <input type="text" class="form-control" name="pickupTime" placeholder="HH:MM">
                    </div>
                    <button type="submit" class="btn btn-primary">Search Now</button>
                </form>
            </div>
            <div class="col-7">
                <label>Search Results</label>
                <table class="table thead-dark table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Make/Model</th>
                            <th>Type</th>
                            <th>Seating</th>
                            <th>Price (Per Km)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in carlist %}
                        <tr>
                            <td>{{ car.make_name }} {{ car.model_name }}</td>
                            <td>{{ car.car_type }}</td>
                            <td>{{ car.seating_capacity }}</td>
                            <td>{{ car.price_per_km }}</td>
                            <td>
                                <center>
                                    <a href="{{ url_for('search') }}/{{ car.car_id }}/{{ car.price_per_km }}" class="btn btn-success btn-sm">
                                        Book Now!
                                    </a>
                                </center>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}